<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="com.Mobile" name="mobile">
       <property name="brand" value="VIVO"/>
       <property name="cost" value="54633"/>
       <property name="apps">
            <list>
               <value>Instaram</value>
                <value>Pubg</value>
                 <value>Gmail</value>
            </list>
    </property>
    </bean>
    <bean class="com.Person" name="person">
    <property name="age" value="52"/>
    <property name="name" value="52"/>
    <property name="mobileObj" ref="mobile"/>
    </bean>
</beans>